input.button-login {
    color: white;
	background-color: #3B5998;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
}

input.button-new {
    color: white;
	background-color: #62A350;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
}