@CHARSET "UTF-8";

body {
	background-image: url('train.gif');
}

table{width: 80%;}

#wrapper {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

input.button-login {
	position: relative;
    color: white;
	background-color: #3B5998;;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	padding-left: 10%;
	padding-right: 10%;
}

input.button-register {
    color: white;
	background-color: #00A15F;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
	width: 76%;
}