.button-login {
    color: white;
	background-color: #FF0000;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
}

.button-new {
    color: white;
	background-color: #00A15F;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 1em;
}